spring:
  application:
    name: ordersystem

  config:
    import: optional:file:secrets.yml

  datasource:
    url: jdbc:mysql://localhost:3306/orders_system

  jpa:
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

springdoc:
  swagger-ui:
    doc-expansion: none
