spring:
  application:
    name: order-system

  config:
    import: file:config.yml

  jpa:
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

springdoc:
  swagger-ui:
    doc-expansion: none
