spring:
  application:
    name: order-system

  config:
    import: file:config.yml

  # File upload limits
  servlet:
    multipart:
      max-file-size: ${config.max-upload-file-size-mb}MB      # Maximum file size per request
      max-request-size: ${config.max-upload-file-size-mb}MB   # Maximum request size (file + other data)
      enabled: true

  jpa:
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

springdoc:
  swagger-ui:
    doc-expansion: none
